@charset "UTF-8";

/*
    em HTML é id    =  em CSS é # (só pode um elemento)
    em HTML é class =  em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(173, 255, 171);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(3, 58, 1);
}

#principal {
    text-align: center;
    background-color: rgb(3, 58, 1);
    color: white;  
}

h2 {
    color: rgb(5, 105, 0);
}

.basico {
    color: green;
    font-weight: bold;
}

.intermediario {
    color: #ddc80b;
    font-weight: bold;
}

.avancado {
    color: red;
    font-weight: bold;
}

.destaque {
    background-color: #ffe60086;
}
